.container {
    min-height: 100vh;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .notList {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    padding: 24px 0 24px 0;
    width: 95%;
    max-width: 400px;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .notCard {
    background: var(--yellow-500);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    gap: 12px;
  }
  
  .notContent {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .notIcon {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }
  
  .notTime {
    font-size: 1rem;
    color: #333;
    font-weight: 600;
  }