.navbar{
    
    margin: auto;
    display: flex;
    justify-content: center;
    width: 21.125rem;
    height: 3rem; 
    background-color: var(--yellow-500);
    border-radius: 26px;
   gap: 3px;
   
   
}
.link {
    display: flex;
    margin: auto;
    width: 3rem;
    height: 3rem;
    
}

.img{
    
   margin: auto;
    height: 2rem;
    width: 2rem;
}
.active {
    background: #FFD600; /* amarelo mostarda */
    color: #333;
    border-radius: 8px;
    padding: 0.5em 1em;
    /* outros estilos para destacar */
  }

