.main{
  margin-top: 3rem;

}
.high{
    margin: auto;
    width: 21rem;
    
}

.high p{
    font-size: 0.65rem;
    margin-bottom: 1.5rem   ;
}
.NavContent{
  display: flex;
  flex-direction: column;
  gap: 0.85rem;
  
}

  .linha {
    background-color: var(--green-500);

    display: flex;
    
   
    border-radius: 26px;
  }
  .link p {
   justify-content: center;
 
  }

  .linha img {
   
    border-radius: 2rem;
    width: 2,5rem;
    height: 2.5rem;
    object-fit: contain;
  }
.meio {
  margin: auto;
  width: 24.9rem;
  display: flex;
  flex-direction: column;
 
}
.meioImg{

  background-image: url("/public/meioBackground.svg");
}
